<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>PLORESTOYUMMIES</title>
  </head>
  <body>
    <a href="#maincontent" class="skiptomain">Skip to content</a>
    <header>
      <nav>
        <a href="/">PLORESTOYUMMIES!</a>
        <ul class="hideSide">
          <li><a href="" tabindex="0">Home</a></li>
          <li><a href="#" tabindex="0">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/chikalabita/" target="_blank"
            tabindex="0">About Us</a
            >
          </li>
        </ul>
        <button class="menu-button" tabindex="0">&#9776;</button>
      </nav>
      <aside>
        <ul class="sidebar">
          <button class="hide" tabindex="0">&times;</button>
          <li><a href="" tabindex="0">Home</a></li>
          <li><a href="#"  tabindex="0">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/chikalabita/" target="_blank"  tabindex="0">About Us</a
            >
          </li>
        </ul>
      </aside>
    </header>
    <main id="maincontent">
      <section class="hero">
        <hero-content></hero-content>
      </section>
      <article>
        <list-resto></list-resto>
      </article>
    </main>
    <script src="/src/scripts/index.js"></script>
    <footer>
      <p>All rights reserved &copy; PLORESTOYUMMIES2024</p>
    </footer>
  </body>
</html>
